@model IEnumerable<CrudTransaction.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Банківські переводи</h1>

<p>
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SWIFTCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th> <a asp-action="AddOrEdit" class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i> Створити транзакцію</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SWIFTCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                    <form asp-action="Delete" asp-route-id="@item.TransactionId">
                        <div class="btn-group btn-group-sm">
                            <a asp-action="AddOrEdit" asp-route-id="@item.TransactionId" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                        <button type="submit" onclick="return confirm('Точно бажаєте видалить?')" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                        
                        </div>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
